main{
    background-color: #00CDCD;
}
div.icone{
    display: inline-block;
    width: 350px;
    color: white;
    text-align: right
}
div.box{
    width: 306px;
    height: 10px;
    display: inline-block;
}
#animais{
    padding: 50px;
}
figure{
    text-align: center;
    float: left;
}
div.produtos{
    width: 350px;
    display: inline-block;
}
.rodape{
    text-align: center;
}
.descricao{
    text-align: center;
}
div.card{
    height: 490px;
    background-color: rgb(188, 227, 240);
}
h5{
    text-align: center;
    color: #0069D9;
}
.rodape{
    background-color: #00CDCD;
    color: white;
    text-align: center;
}
